body {
    margin: 0;
    background-color: black;
}
header{
    padding: 9px 76px;
    border: 2px;
    background-color: white;    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    width: 130px;
    display: block;
}
.nav-logo img{
    width: 100%;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}
.menu-item a{
    text-decoration: none;
    color: black;
}
.menu-item a:hover{
    color:red;
}
.songs-section{
    padding: 72px 76px;
}
.songs-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 15px 15px;
    justify-items: center;
}
.song-section{
    position: center ;
}
.song-item img{
    width: 200px;
}
.song-item a{
    color: black;
    text-decoration: none;
}
.song-info > *{
    margin: 0;
    color: white;
    text-decoration: none;
}